<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="pythonPath" value="C:\Program Files\BehavioralObservation\miniconda38_64" />
    <add key="pyScriptPath" value="C:\Program Files\BehavioralObservation" />
    <add key="meventEditorPath" value="C:\Program Files\BehavioralObservation\MeventEditor.exe" />
    <add key="defaultAverageFrame" value="1"/>
    <add key="defaultXInterval" value="60"/>
    <add key="defaultGraphWidth" value="400"/>
    <add key="defaultGraphHeight" value="300"/>
    <add key="defaultYMin" value="-200"/>
    <add key="defaultYMax" value="200"/>
  </appSettings>
</configuration>